<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Caduceus.svg/1200px-Caduceus.svg.png"
      style="
        width: 35px;
        height: 35px;
        margin-left: 10px;
        border-radius: 6px;
        border: 1px solid white;
        background-color: white;
      "
      class="d-inline-block align-top"
    />
    Vital Trending
  </a>
</nav>
<div style="background-color: rgb(189, 186, 186)">
  <br />
  <div
    style="
      text-align: center;
      color: black;
      border-style: solid;
      border-radius: 15px;
      margin: 0px 400px 0px 400px;
      background-color: rgb(114, 173, 230);
    "
  >
    <br />
    <h1>Welcome to Vital Trending</h1>
    <div style="text-align: center">
      <img
        style="height: 100px; width: 100px"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Caduceus.svg/1200px-Caduceus.svg.png"
      />
      <br />
      <br />
    </div>
  </div>
  <hr />
</div>

<div style="text-align: center">
  <form>
    <label for="form-label">Patient ID</label>
    <input type="number" name="id" [(ngModel)]="patient.id" />
    <button
      style="margin-left: 5px"
      class="btn btn-secondary"
      (click)="displayPatientVitals(patient.id)"
    >
      Retrieve Vitals
    </button>
    <br />
    <br />
  </form>
</div>
<div id="patientVitals" class="container-fluid">
  <table
    style="
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    "
    class="table table-striped table-hover"
  >
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Vital Date Time</th>
        <th>Systolic Pressure</th>
        <th>Distolic Pressure</th>
        <th>Pulse Rate</th>
        <th>Temperature</th>
        <th>Respiratory Rate</th>
      </tr>
    </thead>

    <tbody *ngFor="let vital of vitalSigns">
      <tr>
        <td>{{ vital.id }}</td>
        <td>{{ vital.vitalDateTime | date: "medium" }}</td>
        <td>{{ vital.systolicPressure }}</td>
        <td>{{ vital.diastolicPressure }}</td>
        <td>{{ vital.pulseRate }}</td>
        <td>{{ vital.temperature }}</td>
        <td>{{ vital.respiratoryRate }}</td>
      </tr>
    </tbody>
  </table>
</div>
